<ion-header no-border>
  <ion-toolbar>
    <ion-title>
      Nuevo Post
    </ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="crearPost()"
                  [disabled]="post.message.trim().length === 0 || loadingLocation"
                  
                  color="primary">
        Compartir
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-list>
    
    <ion-item>
      <ion-label position="floating">Mensaje</ion-label>
      <ion-textarea [(ngModel)]="post.message"></ion-textarea>
    </ion-item>

    <ion-list>
      <ion-item>
        <ion-label>Posición actual</ion-label>
        <ion-spinner name="lines-small"
                      *ngIf="loadingLocation"></ion-spinner>
        <ion-toggle slot="end"
                    [(ngModel)]="post.position"
                    (ionChange)="getLocation()"></ion-toggle>
      </ion-item>
    </ion-list>


  </ion-list>

  <ion-row>
    <ion-col size="12">
      <ion-button expand="full"
                  shape="round"
                  (click)="takePicture()">
        <ion-icon slot="start" name="camera"></ion-icon>
        Sube una foto
      </ion-button>
    </ion-col>

  </ion-row>

  <ion-row>
    <ion-col size="3" *ngFor="let image of tempImages">
      <ion-card>
        <img [src]="image">
      </ion-card>
    </ion-col>
  </ion-row>


</ion-content>
